<div class = "signupbox">
<form [formGroup]="userForm" (ngSubmit)="addUser()">
  <div style="position: relative;">
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" style="position: absolute; left: 150px; top: 0;">
    <div *ngIf="userForm.controls['name']?.invalid && (userForm.controls['name']?.dirty || userForm.controls['name']?.touched)">
      <div *ngIf="userForm.controls['name']?.errors?.['required']" class="error-message">Name is required.</div>
    </div>
  </div>

  <div style="position: relative; margin-top: 10px;">
    <label for="age">Age:</label>
    <input type="number" id="age" formControlName="age" style="position: absolute; left: 150px; top: 0;">
    <div *ngIf="userForm.controls['age']?.invalid && (userForm.controls['age']?.dirty || userForm.controls['age']?.touched)">
      <div *ngIf="userForm.controls['age']?.errors?.['required']" class="error-message">Age is required.</div>
    </div>
  </div>

  <div style="position: relative; margin-top: 10px;">
    <label for="gender">Gender:</label>
    <select id="gender" formControlName="gender" style="position: absolute; left: 150px; top: 0;">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <div *ngIf="userForm.controls['gender']?.invalid && (userForm.controls['gender']?.dirty || userForm.controls['gender']?.touched)">
      <div *ngIf="userForm.controls['gender']?.errors?.['required']" class="error-message">Gender is required.</div>
    </div>
  </div>

  <div style="position: relative; margin-top: 10px;">
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" style="position: absolute; left: 150px; top: 0;">
    <div *ngIf="userForm.controls['email']?.invalid && (userForm.controls['email']?.dirty || userForm.controls['email']?.touched)">
      <div *ngIf="userForm.controls['email']?.errors?.['required']" class="error-message">Email is required.</div>
      <div *ngIf="userForm.controls['email']?.errors?.['email']" class="error-message">Invalid email format.</div>
    </div>
  </div>

  <div style="margin-top: 10px;">
    <button type="submit">Signup</button>
  </div>
</form>
</div>
